* {
  box-sizing: border-box;
}
  
html, body,
ul, ol, li,
h1, h2, h3, h4, h5, h6, p, div {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}
  
li {
  list-style: none;
}

a {
  text-decoration: none;
}

/*Ini bagian Header */
header {
  height: 65px;
  width: 100%;
  background-color: rgba(34, 49, 52, 0.9);
  position :fixed;
  top: 0;
  z-index: 10;
}

.logo {
  width: 90px;
  margin-top: 2px;
}

.header-left {
  float: left;
}

.header-right {
  float: right;
  margin-right: -25px;
}

.header-right a {
  line-height: 65px;
  padding: 0 25px;
  color: white;
  display: block;
  float: left;
  transition: all 0.5s;
}

.header-right a:hover {
  background-color: rgba(255, 255, 255, 0.3);
}

.container {
  max-width: 1170px;
  width: 100%;
  padding: 0 15px;
  margin: 0 auto;
}

/* Ini bagian Main */
.main {
  padding: 240px 0 200px 0;
  background-image: url(https://img.freepik.com/free-vector/cute-pets-illustration_53876-112522.jpg?w=826&t=st=1678788370~exp=1678788970~hmac=25a9d1dbe781a80148d4493f5bf4e4b6c02b9829eeac8dcacfc9f6fcab127944);
  background-size: cover;
  text-align: center;
}

.main h1 {
  color: black;
  font-size: 40px;
  letter-spacing: 5px;
  margin-bottom: 10px;
  font-weight: 800;
}

.main span1{
  color: gold;
}

.main p {
  color: rgba(34, 49, 52, 0.9);
  opacity: 0.7;
  margin-bottom: 3px;
}

.btn-main {
  margin: 20px 0;
}

.btn-main p {
  margin: 10px 0;
}

.google {
  color: white;
  background-color: green;
  margin-right: 10px;
}

.facebook {
  color:white;
  background-color: #3b5998;
  margin-right: 10px;
}

.twitter {
  color: white;
  background-color: #55acee;
}

.btn {
  padding: 12px 24px;
  display: inline-block;
  opacity: 0.8;
  border-radius: 4px;
}

.btn:hover {
  opacity: 1;
}

.fa {
  margin-right: 10px;
}

/*Ini bagian Body*/
.body{
  min-height: 300px;
  margin-bottom: 20px;
  display: flex;
  flex-direction: row;
  overflow: hidden;
}

.body-text {
  width: 70%;
}

.body-img {
  display: flex;
  width: 30%;
  align-items: center;
}

.body-img img {
  width: 500px;
  position: relative;
}


.body h1 {
  color: #FFD700;
  font-size: 50px;
  font-weight: bolder;
  text-align: left;
  margin-bottom: 15px;
  margin-top: 40px;
}

.body span{
  color: black;
}

.body-text p{
  font-family: 'Arial, Helvetica, sans-serif';
  font-size: 20px;
}

/* Ini bagian Body2 */
.body2 h1{
  color: #FFD700;
  font-size: 40px;
  font-weight: bolder;
  margin-bottom: 0;
  text-align: center;
}

.body2 p{
  color: black;
  opacity: 0.7;
  margin-bottom: 0;
  margin-top: 5px;
  text-align: center;
}

/* Ini bagian Services */
.services{
  /* position: relative; */
  background-color: white;
  /* padding: 1.5rem; */
  border-radius: .5rem;
  /* margin: 20px 50px 20px 50px; */
  display: flex;
  flex-direction: row;
}


.service{
  /* position: relative; */
  background-color: gold;
  padding: 3.5rem 1.5rem 1.25rem 1.5rem;
  border-radius: .25rem;
  box-shadow: 0 2px 4px rgba(0,0,0,.15);
  transition: .3s;
  margin: 20px 10px 10px 10px;
  height: 250px;
  justify-content: center;
  width: 25%;
  
}

.service:hover{
  box-shadow: 0 4px 8px rgba(0,0,0,.15);
}

.service_icon{
  display: block;
  font-size: 1.5rem;
  color:black;
  margin-bottom: 5px;
  text-align: center;
}

.service_title{
  font-size: 20px;
  margin-bottom: 10px;
  text-align: center;
}

.service p{
  text-align: center;
  font-size: 15px;
}

/*Ini bagian footer */
footer {
  background-color: rgba(34, 49, 52, 0.9);
  min-height: 110px;
  padding: 20px 0;
}

.footer-list {
  float: right;
  text-align: right;
  color: whitesmoke;
}

.li {
  padding-bottom: 5px;
}

.logo-footer {
  width: 120px;
}


/*Ini bagian form */
.form p {
  font-size: 10px;
  font-family: Arial, Helvetica, sans-serif;
  letter-spacing: 0;
}

a {
  color: blue;
}

.form {
  background-color: rgb(241, 238, 238);
  height: 370px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.forms {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
  font-weight: bold;
  padding-top: 20px;
  padding-bottom: 10px;
}

.nama {
  opacity: 0.5;
  padding: 10px 0 10px 0px; 
}

.phone {
  opacity: 0.5;
  padding: 10px 0 20px 0px; 
}

.address textarea {
  opacity: 0.5;
  padding: 15px 200px 15px 5px;
  border-radius: 10px;
  font-family: Arial, Helvetica, sans-serif;
  text-align: left;
  
}

.form input {
  padding: 15px 190px 15px 5px;
  border-radius: 10px;
  font-family: Arial, Helvetica, sans-serif;
  text-align: left;
}

button {
  background-color: rgba(34, 49, 52, 0.9);
  border: 0 solid white;
  padding: 20px 30px;
  border-radius: 10px;
  color: whitesmoke;
}

    
